<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="urlDB">jdbc:mysql://localhost:3306</entry>
	<entry key="userDB">root</entry>
	<entry key="pswDB">root85</entry>
	<entry key="baseDB">ENCHERES_DB</entry>
</properties>
