/* style MonProfile */
a
{
  color: #4f5050;
  padding: 0 5px;/* pour un espace de 5+5px par exemple*/
}
.info
{
	text-align: center;
}
label
{
	text-align: left;
	width:120px;
	padding:5px;
}
input
{
	text-align: center;
	padding:5px;
	margin:5px;
}
	
.ann 
{
	float: right;
	padding:6px 0 6px 0
}